---
import PhotoGrid from './PhotoGrid.astro';
import { featuredCollectionId, getImages } from '../data/imageStore';

const images = await getImages({ collection: featuredCollectionId });
---

<div class="max-w-2xl mx-auto text-center mb-16">
	<h2 class="text-3xl md:text-4xl font-bold mb-4">Patru ani de neuitat la "Aurel Vlaicu"</h2>
	<p class="text-gray-600">O retrospectivă video a anilor de liceu petrecuți împreună, în clasa de Filologie E, la Colegiul Național „Aurel Vlaicu” (2011-2015). </p>
</div>

<div class="p-4 flex justify-center items-center">
	<iframe
width="1280" height="720"
		src="https://www.youtube.com/embed/JrFBchpZ59M?si=DGPcKsieFygoOY6z"
		title="YouTube video player"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		referrerpolicy="strict-origin-when-cross-origin"
		allowfullscreen></iframe>
</div>
